.lightning-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Arial, sans-serif;
  position: relative;
  display: none;
}

.app.summer {
  .lightning-container {
    display: block;
  }
}

.lightning-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
